{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css.map' %}" />
    <link rel="stylesheet" href="{% static 'css/ui.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ui.css.map' %}" />

    <!-- favicon -->

    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />

    <!-- Remix icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    {% block title %}Love Life{% endblock title %}
    <!-- jQuery starts -->
    <script type="text/javascript">
      $(document).ready(function () {});
    </script>

    <!-- jQuery ends -->
  </head>
  <body>
    {% include "navbar.html" %} {% block content %}{% endblock content %} {%
    include "footer.html" %} {% comment %} scripts {% endcomment %}
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>

    <!--
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
